* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* ======================Common========================== */

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 11px 41px;
    color: #fff;
    background-color: #171100;
    border-radius: 999px;
    text-align: center;
}

/* ======================Header========================== */

.header {
    height: 100px;
    position: sticky;
    top: -12px;
    background: #fffcf4;
}

.header-menu {
    position: relative;
    display: flex;
    padding: 36px 135px;
    align-items: center;
}

.header .logo {
    width: 85px;
    height: 34px;
    margin-right: auto;
}

.header .menu {
    position: absolute;
    right: 349px;
    display: flex;
    width: 359px;
    justify-content: space-between;
    align-items: center;
}

.header .menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    transition: 0.3s;
}

.header .menu a:hover {
    font-weight: 600;
    color: #171100;
}

.header .menu .underline {
    width: 0px;
    height: 2px;
    background-color: #171100;
    border-radius: 999px;
    transition: 0.3s;
}

.header .menu a:hover .underline {
    width: 49px;
    height: 2px;
    background-color: #171100;
    border-radius: 999px;
}

.header .btn {
    position: absolute;
    right: 135px;
    border: 2px solid #171100;
    color: #fff;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    transition: 0.3s;
}

.header .btn:hover {
    color: #171100;
    background-color: #fff;
}

/* ======================Hero========================== */
.hero {
    height: 900px;
    background: #fffcf4;
    display: flex;
    padding: 50px 135px 0;
    justify-content: space-between;
    gap: 230px;
}

.hero .img-block .img {
    object-fit: cover;
    width: 470px;
    height: 685px;
    border-radius: 20px;
}

.hero .img-block,
.hero .desc-block {
    flex: 1;
}

.hero .desc-block .title {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
}

.hero p.desc {
    margin-top: 22px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.hero .btn-block {
    margin-top: 38px;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.hero .desc-block .btn {
    margin-right: 28px;
    padding: 17px 33px;
    color: #fff;
    background: #ffb900;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.hero .desc-block .watch-video {
    align-items: center;
    display: flex;
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.hero strong {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    margin-right: 14px;
}

.hero .info p {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
}

.hero .info {
    margin-top: 4px;
    display: flex;
}

.hero .info .item {
    display: flex;
    align-items: center;
    margin-right: 28px;
}
