* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    -webkit-scroll-behavior: smooth;
    transition: all ease 0.3s;
}

body {
    font-size: 1.6rem;
}

/* ======================Common========================== */

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 11px 41px;
    color: #fff;
    background-color: #171100;
    border-radius: 999px;
    text-align: center;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-all;
}

.order {
    display: flex;
    gap: 6px;
}

.order .circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.order .order-active {
    background: #ffb900;
}

/* ======================Header========================== */

.header {
    z-index: 1;
    height: 100px;
    position: sticky;
    top: -12px;
    background: #fffcf4;
}

.header-menu {
    position: relative;
    display: flex;
    padding: 36px 135px;
    align-items: center;
}

.header .logo {
    width: 85px;
    height: 34px;
    margin-right: auto;
}

.header .menu {
    position: absolute;
    right: 349px;
    display: flex;
    width: 359px;
    justify-content: space-between;
    align-items: center;
}

.header .menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    transition: 0.3s;
}

.header .menu a:hover {
    font-weight: 600;
    color: #171100;
}

.header .menu .underline {
    width: 0px;
    height: 2px;
    background-color: #171100;
    border-radius: 999px;
    transition: 0.3s;
}

.header .menu a:hover .underline {
    width: 49px;
    height: 2px;
    background-color: #171100;
    border-radius: 999px;
}

.header .btn {
    position: absolute;
    right: 135px;
    border: 2px solid #171100;
    color: #fff;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    transition: 0.3s;
}

.header .btn:hover {
    color: #171100;
    background-color: #fff;
}

/* ======================Hero========================== */
.hero {
    height: 800px;
    background: #fffcf4;
    display: flex;
    padding: 50px 135px 0;
    justify-content: space-between;
    gap: 230px;
}

.hero .img-block .img {
    object-fit: cover;
    width: 470px;
    height: 685px;
    border-radius: 20px;
}

.hero .img-block,
.hero .desc-block {
    flex: 1;
}

.hero .desc-block .title {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
}

.hero p.desc {
    margin-top: 22px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.hero .btn-block {
    margin-top: 38px;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.hero .desc-block .btn {
    margin-right: 28px;
    padding: 17px 33px;
    color: #fff;
    background: #ffb900;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.hero .desc-block .watch-video {
    align-items: center;
    display: flex;
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.hero strong {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    margin-right: 14px;
}

.hero .info p {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
}

.hero .info {
    margin-top: 4px;
    display: flex;
}

.hero .info .item {
    display: flex;
    align-items: center;
    margin-right: 28px;
}

.hero .img-block {
    width: 570px;
    height: 685px;
    position: relative;
    z-index: 0;
}

.hero .img-block .card {
    padding: 28px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: 300px;
    bottom: 48px;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .card .name-course {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
}

.hero .card .count-course {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
}

.hero .card .card-course {
    display: flex;
    align-content: center;
    align-items: center;
}

.hero .icon-box {
    margin-right: 16px;
    text-align: center;
    align-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.hero .icon-box1 {
    background: #fff9e8;
}

.hero .icon-box2 {
    background: #fcefff;
}

.hero .icon-box3 {
    background: #ebeaff;
}

/* ======================Courses========================== */

.course {
    padding: 200px 135px;
    height: 1045px;
    background: #fff;
}

.course .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.8rem; /* 126.316% */
    letter-spacing: -0.76px;
}

.course .course-box .name-course:hover {
    text-decoration: underline;
}

.course .desc {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.course .course-img {
    margin: -1px;
    height: 280px;
    width: 371px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px 12px 0 0;
    transition: 0.5s;
}

.course .course-img:hover {
    box-shadow: 0 10px 10px rgba(255, 239, 114, 0.7);
}

.course-block {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.course-box {
    width: calc((370 / (vw - 135px * 2)) * 100);
    height: 466px;
    border: 1px solid #e2dfda;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course .title-course {
    display: flex;
    align-items: center;
}

.course .title-course a {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
    margin-right: auto;
}

.course .course-box .desc {
    width: 326px;
    font-size: 1.4rem;
    line-height: 185.714%;
}

.course .course-box .info {
    padding: 16px 22px 22px;
}

.course .rate {
    margin-left: 6px;
    color: #fea31b;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.course .course-box .bonus {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course .course-box .btn {
    line-height: 2.6rem;
    padding: 12px 24px;
    transition: 0.4s;
}

.course .course-box .btn:hover {
    background: #ffb900;
    box-shadow: 0px 10px 1px rgba(221, 221, 221, 1),
        0 10px 20px rgba(204, 204, 204, 1);
}

.course .price {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 166.667%;
}

.course .body {
    position: relative;
}

.course .icon-left-right {
    position: absolute;
    right: 0;
    top: 42px;
}

/* ======================Reviews========================== */

.reviews {
    padding: 96px 135px;
    height: 380px;
    background: #2e2100;
}

.reviews-items {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.reviews .avatar {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.reviews .info-block .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 141.667%;
}

.reviews .info-block .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
}

.reviews .info-block .order {
    margin-top: 28px;
}

.reviews .review-block {
    margin-left: 241px;
}

.reviews .review-block .comment {
    margin-left: 30px;
    width: 740px;
    color: #fff;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 153.846%; /*  */
}

.review-list {
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
}

.reviews-items {
    display: flex;
    align-items: center;
    width: 100%;
}

/* ======================Features========================== */

.features {
    padding: 200px 135px;
}

.features .body {
    display: flex;
    justify-content: space-between;
    height: 438px;
}

.features .images {
    display: flex;
    gap: 0 30px;
    width: 570px;
}

.features .images img {
    width: 47.37%;
    height: 92.47%;
    object-fit: cover;
    border-radius: 16px;
}

.features .images .img1 {
    align-self: flex-end;
}

.features .left {
    width: 40.17%;
}

.features .right {
    width: 48.7%;
}

.features .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.76px;
}

.features .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.features .btn {
    margin-top: 32px;
    background: #ffb900;
    padding: 11px 37px;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
    transition: 0.3s;
}

.features .btn:hover {
    background: #fff;
    color: #ffb900;
}

.features .main-content .body:last-child {
    margin-top: 200px;
    justify-content: space-between;
}

.features .main-content .body:last-child .img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ======================Blogs========================== */

.blogs {
    padding: 96px 135px;
    background: #fffcf4;
}

.blogs .body-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs .body-top .title {
    color: #130606;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.76px;
}

.blogs .body-top .desc {
    margin-top: 16px;
    width: 448px;
    text-align: center;
    color: #696262;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.blogs .body-bottom {
    margin-top: 55px;
}
.blogs .blogs-list {
    height: 499px;
    display: flex;
    gap: 0 30px;
    overflow: hidden;
}

.blogs .blogs-item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    height: 467px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blogs .blogs-item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blogs .blogs-item .date {
    padding-left: 10px;
    position: relative;
    margin-top: 20px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
}

.blogs .blogs-item .date::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffb900;
}

.blogs-item .separate {
    margin-top: 12px;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blogs .blogs-item .desc {
    margin-top: 12px;
    color: #171100;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 175%; /* 175% */
}

.blogs .blogs-item .line-clamp {
    -webkit-line-clamp: 2;
}

.blogs .blogs-item .info {
    padding: 20px 20px 28px;
}

.blogs .blogs-item .btn {
    margin-top: 12px;
    padding: 12px 21px;
    color: #fff;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 185.714%;
    transition: 0.3s;
}

.blogs .blogs-item .btn:hover {
    background: #ffb900;
}

.blogs .order {
    margin-top: 38px;
    justify-self: center;
}

/* ======================Footer========================== */

.footer {
    display: flex;
    padding: 96px 135px 28px;
    height: 428px;
    background: #2e2100;
    justify-content: center;
}

.footer .body {
    display: flex;
    justify-content: space-between;
}

.footer .logo {
    width: 85px;
    height: 34px;
    margin-bottom: 18px;
}

.footer .column {
    display: flex;
    flex-direction: column;
    height: 211px;
}

.footer .font {
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 185.714%;
}

.footer .title {
    color: #fff;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
}

.footer .column:first-child {
    width: 22.8%;
}

.footer .column:nth-child(2),
.footer .column:nth-child(3) {
    width: 11.7%;
}

.footer .column:last-child {
    width: 19.74%;
}

.footer .branch i {
    color: #fff;
}

.footer .branch {
    display: flex;
    margin-top: 18px;
    width: 111px;
    height: 15px;
    justify-content: space-between;
}

.footer .separate {
    margin: 14px 0 28px;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer .feature-tags + .feature-tags {
    margin-top: 12px;
}

.footer .column strong {
    color: #fff;
    font-weight: 600;
}

.footer .column .info + .info {
    margin-top: 12px;
}

.footer .separate-end {
    margin-top: 38px;
    width: 1170px;
    height: 1px;
    background: #59554b;
    justify-self: center;
}

.footer .copy {
    margin-top: 28px;
    color: #807d74;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}
